@-webkit-keyframes navigation_hidden_reveal {0% {transform: translateY(-150%);-ms-transform: translateY(-150%);-webkit-transform: translateY(-150%);-o-transform: translateY(-150%);-moz-transform: translateY(-150%);}
100% {transform: translateY(0);-ms-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);-moz-transform: translateY(0);}}
@-moz-keyframes navigation_hidden_reveal {0% {transform: translateY(-150%);-ms-transform: translateY(-150%);-webkit-transform: translateY(-150%);-o-transform: translateY(-150%);-moz-transform: translateY(-150%);}
100% {transform: translateY(0);-ms-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);-moz-transform: translateY(0);}}
@keyframes navigation_hidden_reveal {0% {transform: translateY(-150%);-ms-transform: translateY(-150%);-webkit-transform: translateY(-150%);-o-transform: translateY(-150%);-moz-transform: translateY(-150%);}
100% {transform: translateY(0);-ms-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);-moz-transform: translateY(0);}}

@-webkit-keyframes navigation_hidden_hide {0% {transform: translateY(0);-ms-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);-moz-transform: translateY(0);}
100% {transform: translateY(-150%);-ms-transform: translateY(-150%);-webkit-transform: translateY(-150%);-o-transform: translateY(-150%);-moz-transform: translateY(-150%);}}
@-moz-keyframes navigation_hidden_hide {0% {transform: translateY(0);-ms-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);-moz-transform: translateY(0);}
100% {transform: translateY(-150%);-ms-transform: translateY(-150%);-webkit-transform: translateY(-150%);-o-transform: translateY(-150%);-moz-transform: translateY(-150%);}}
@keyframes navigation_hidden_hide {0% {transform: translateY(0);-ms-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);-moz-transform: translateY(0);}
100% {transform: translateY(-150%);-ms-transform: translateY(-150%);-webkit-transform: translateY(-150%);-o-transform: translateY(-150%);-moz-transform: translateY(-150%);}}
