
.main::after{
	width:1055px;
	content:"";
	height: 100%;
	border-left: 1px solid red;
	position: fixed;
	display: block;
	z-index: 100000000;
	top: 0;
	opacity: 1;
	left: 50%;
	margin-left: -527.5px;
	pointer-events: none;
	border-right: 1px solid red;
}
.main::before {
	width: 310px;
	content: "";
	height: 100%;
	border-left: 1px solid rgb(0, 42, 255);
	position: fixed;
	display: block;
	z-index: 100000000;
	top: 0;
	opacity: 1;
	left: 50%;
	margin-left: -155px;
	pointer-events: none;
	border-right: 1px solid rgb(0, 42, 255);
}


.keyframeExample {
	-webkit-animation: keyframeExample 1s linear infinite;
	animation: keyframeExample 1s linear infinite;
	-moz-animation: keyframeExample 1s linear infinite;

	-webkit-transition: left 500ms ease;
	-moz-transition: left 500ms ease;
	-o-transition: left 500ms ease;
	 transition: left 500ms ease;
}

@-webkit-keyframes keyframeExample {0% {}50% {}100% {}}
@-moz-keyframes keyframeExample {0% {}50% {}100% {}}
@keyframes keyframeExample {0% {}50% {}100% {}}

.flexBoxExample {
	display: flex;
	display: -webkit-flex;
	-webkit-box-pack: start;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	align-content: center;
	-webkit-align-content: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	align-items: center;
	-webkit-align-items: center;
}

/* RIPPLE MENU */
.navigation_inner li a {
	color: #ffffff;
	padding: 5px 0px;
	display: block;
	font-size: 20px;
	font-weight: 100;
	-webkit-animation: animated_menu 500ms ease forwards;
	animation: animated_menu 500ms ease forwards;
	-moz-animation: animated_menu 500ms ease forwards;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	transform: translateX(100px);
	-ms-transform: translateX(100px);
	-webkit-transform: translateX(100px);
	-o-transform: translateX(100px);
	font-family: roboto condensed;
	font-weight: 100;
	opacity: 0;
	text-shadow: -1px 0px 8px rgba(51,51,51,0.8);
}
.navigation_inner li:nth-child(1) a {-webkit-animation-delay: 40ms;animation-delay: 40ms;}
.navigation_inner li:nth-child(2) a {-webkit-animation-delay: 60ms;animation-delay: 60ms;}
.navigation_inner li:nth-child(3) a {-webkit-animation-delay: 80ms;animation-delay: 80ms;}
.navigation_inner li:nth-child(4) a {-webkit-animation-delay: 100ms;animation-delay: 100ms;}
.navigation_inner li:nth-child(5) a {-webkit-animation-delay: 120ms;animation-delay: 120ms;}
.navigation_inner li:nth-child(6) a {-webkit-animation-delay: 140ms;animation-delay: 140ms;}
.navigation_inner li:nth-child(7) a {-webkit-animation-delay: 160ms;animation-delay: 160ms;}
.navigation_inner li:nth-child(8) a {-webkit-animation-delay: 180ms;animation-delay: 180ms;}
.navigation_inner li:nth-child(9) a {-webkit-animation-delay: 200ms;animation-delay: 200ms;}
.navigation_inner li:nth-child(10) a {-webkit-animation-delay: 220ms;animation-delay: 220ms;}

.navigation_trigger_line {
	width: 30px;
	height: 3px;
	color: #fff;
	display: block;
	position: relative;
	background: #fff;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	background: #000;
}
.navigation_trigger_line1 {
	position: absolute;
	top: 15px;
	transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}
.navigation_trigger_line2 {
	opacity:1;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	transform-origin: 0% 50%;
	-webkit-transform-origin: 0% 50%;
	-ms-transform-origin: 0% 50%;
}
.navigation_trigger_line3 {
	position: absolute;
	bottom: 15px;
	transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.navigationButtonClose .navigation_trigger_line1 {
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	top: 14px;
	left: 15px;
	width: 40px;
}
.navigationButtonClose .navigation_trigger_line2 {
	opacity:0;
}
.navigationButtonClose .navigation_trigger_line3 {
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	bottom: 10px;
	left: 13px;
	width: 40px;
}

.navigation_trigger_outer_open {
	background: none;
}
.navigation_trigger_outer_open .navigation_trigger_line{
	background:#ffffff;
}
.navigationButtonClose .navigation_trigger_line {
/*background: #000;*/
}
