@charset "UTF-8";
/* KLOC ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE: TablePlanner 9K ///////////////////////////////////////////////////////////////////////////////////////////////////
// DEV: JAMES DOUGLAS //////////////////////////////////////////////////////////////////////////////////////////////////////
// BUILD: 2017 /////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* KLOC ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE: TablePlanner 9K ///////////////////////////////////////////////////////////////////////////////////////////////////
// DEV: JAMES DOUGLAS //////////////////////////////////////////////////////////////////////////////////////////////////////
// BUILD: 2017 /////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*
██████  ███████ ███████  █████  ██    ██ ██   ████████
██   ██ ██      ██      ██   ██ ██    ██ ██      ██
██   ██ █████   █████   ███████ ██    ██ ██      ██
██   ██ ██      ██      ██   ██ ██    ██ ██      ██
██████  ███████ ██      ██   ██  ██████  ███████ ██
*/
body {
  background: #ffffff;
  font-size: 14px;
  font-family: 'HelveticaNeue', sans-serif; }

/* ///////// */
h1 {
  font-size: 4em;
  font-weight: bold;
  margin: 10px 0px; }

h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 20px 0px;
  font-family: HelveticaNeue-Light; }

h3 {
  font-size: 1.5em;
  font-weight: 100;
  margin: 20px 0px;
  line-height: 30px;
  font-family: HelveticaNeue-Light; }

h4 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 20px 0px; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin: 20px 0px; }

/* ///////// */
a {
  color: #A2D4AB;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  text-decoration: underline; }

a:focus, a:hover {
  color: #bff2ff; }

p {
  font-size: 1em;
  line-height: 1.5em; }

strong {
  font-weight: bold; }

ul {
  margin: 0;
  padding: 10px 0px; }

li {
  margin: 0 0 0 20px;
  padding: 0; }

form {
  padding: 0px; }

input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  background: #ffffff;
  border: 0;
  padding-left: 10px;
  border: 1px solid #cccccc; }

textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 90px;
  width: 100%;
  margin-bottom: 10px;
  background: #ffffff;
  border: 0;
  padding: 10px; }

blockquote {
  border-left: 5px solid #ff6c40; }

.row {
  margin: 0;
  width: 100%; }

.not-supported {
  opacity: 0.2 !important;
  text-decoration: line-through !important; }
  .not-supported * {
    text-decoration: line-through !important; }

/* KLOC ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE: TablePlanner 9K ///////////////////////////////////////////////////////////////////////////////////////////////////
// DEV: JAMES DOUGLAS //////////////////////////////////////////////////////////////////////////////////////////////////////
// BUILD: 2017 /////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*
███    ██  █████  ██    ██
████   ██ ██   ██ ██    ██
██ ██  ██ ███████ ██    ██
██  ██ ██ ██   ██  ██  ██
██   ████ ██   ██   ████
*/
nav {
  background: #2A363B;
  color: #ffffff;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  position: relative; }
  nav .menu-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0px;
    position: relative;
    z-index: 100; }
    nav .menu-container i {
      width: 15px;
      text-align: center; }
    nav .menu-container li {
      margin: 0; }
      nav .menu-container li:hover {
        color: #A2D4AB; }
    nav .menu-container .menu-parent {
      cursor: pointer; }
      nav .menu-container .menu-parent a {
        text-decoration: none;
        color: #fff;
        padding: 10px 17px;
        display: block; }
      nav .menu-container .menu-parent .menu-modal {
        display: none; }
      nav .menu-container .menu-parent .menu-child {
        display: none;
        background: #547A82;
        position: absolute;
        color: #ffffff;
        top: 40px;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0px;
        -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1); }
        nav .menu-container .menu-parent .menu-child .global-opacity {
          width: 60%;
          color: #547A82;
          display: inline-block;
          float: right; }
        nav .menu-container .menu-parent .menu-child .font-item {
          vertical-align: top;
          margin-bottom: 5px;
          height: 20px; }
          nav .menu-container .menu-parent .menu-child .font-item .global-font-input {
            display: inline-block;
            float: right;
            width: 60%;
            background: none;
            height: 20px;
            line-height: 20px;
            margin: 0;
            color: #ffffff;
            text-align: right;
            border: 1px solid #ffffff;
            padding-right: 5px; }
            nav .menu-container .menu-parent .menu-child .font-item .global-font-input input {
              width: 100%;
              margin: 0;
              padding: 0;
              top: 0;
              height: 20px;
              border: 1px solid #eaf1f3;
              vertical-align: top;
              float: left;
              text-align: center; }
        nav .menu-container .menu-parent .menu-child .update-global-font {
          width: 150px;
          border: 1px solid #97bac1;
          background: #97bac1;
          text-align: center;
          margin-top: 20px;
          padding: 5px; }
        nav .menu-container .menu-parent .menu-child.menu-manualclose {
          padding-bottom: 40px; }
        nav .menu-container .menu-parent .menu-child .ui-slider {
          width: 55%;
          display: inline-block;
          position: relative;
          border: none;
          -webkit-border-radius: inherit;
                  border-radius: inherit;
          height: 20px; }
          nav .menu-container .menu-parent .menu-child .ui-slider .ui-slider-handle {
            display: none; }
          nav .menu-container .menu-parent .menu-child .ui-slider .ui-slider-range-min {
            left: 0;
            background: #97bac1;
            -webkit-border-radius: 0;
                    border-radius: 0; }
        nav .menu-container .menu-parent .menu-child input[type="color"] {
          width: 60%;
          display: inline-block;
          margin: 0;
          padding: 0;
          border: 0;
          height: 20px;
          -webkit-appearance: none; }
        nav .menu-container .menu-parent .menu-child input[type="color"]::-webkit-color-swatch-wrapper {
          padding: 0; }
        nav .menu-container .menu-parent .menu-child input[type="color"]::-webkit-color-swatch {
          border: none; }
        nav .menu-container .menu-parent .menu-child .color-reset {
          display: inline-block;
          width: 40px;
          text-align: center;
          -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
          vertical-align: top; }
          nav .menu-container .menu-parent .menu-child .color-reset:hover {
            color: #97bac1;
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg); }
        nav .menu-container .menu-parent .menu-child select {
          border: none;
          -webkit-border-radius: 0;
                  border-radius: 0;
          padding-left: 10px; }
        nav .menu-container .menu-parent .menu-child .canvas-font-family, nav .menu-container .menu-parent .menu-child .canvas-font-style, nav .menu-container .menu-parent .menu-child .canvas-font-weight {
          width: 60%;
          color: #547A82;
          display: inline-block;
          float: right; }
        nav .menu-container .menu-parent .menu-child .slider-value {
          width: 17%;
          display: inline-block;
          text-align: right;
          color: #97bac1;
          vertical-align: top; }
        nav .menu-container .menu-parent .menu-child span {
          font-size: 20px;
          margin-top: 20px;
          position: relative;
          display: block;
          color: #97bac1;
          margin-bottom: 10px; }
          nav .menu-container .menu-parent .menu-child span.menu-child-subtitle {
            display: inline-block;
            font-size: 14px;
            width: 25%;
            line-height: 20px;
            vertical-align: top;
            margin: 0;
            padding: 0;
            color: #ffffff; }
        nav .menu-container .menu-parent .menu-child .menu-grandparent {
          margin: 0;
          list-style: none;
          color: #ffffff; }
          nav .menu-container .menu-parent .menu-child .menu-grandparent:hover {
            background: #547A82;
            color: #A2D4AB; }
          nav .menu-container .menu-parent .menu-child .menu-grandparent a {
            color: #ffffff;
            text-decoration: none; }
          nav .menu-container .menu-parent .menu-child .menu-grandparent .menu-grandchild {
            display: none;
            background: #3EACA8;
            position: absolute;
            color: #ffffff;
            top: 40px;
            width: 100%;
            left: 0;
            margin: 0;
            padding: 0px 0px 20px 0px;
            -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1); }
            nav .menu-container .menu-parent .menu-child .menu-grandparent .menu-grandchild .flex-grid {
              position: relative; }
              nav .menu-container .menu-parent .menu-child .menu-grandparent .menu-grandchild .flex-grid li {
                width: 16.6%;
                display: inline-block;
                padding-bottom: 10px; }
            nav .menu-container .menu-parent .menu-child .menu-grandparent .menu-grandchild span {
              font-size: 20px;
              margin-top: 20px;
              position: relative;
              display: block;
              color: #245a59; }
            nav .menu-container .menu-parent .menu-child .menu-grandparent .menu-grandchild a {
              color: #ffffff; }
              nav .menu-container .menu-parent .menu-child .menu-grandparent .menu-grandchild a:hover {
                color: #245a59;
                text-decoration: underline; }
            nav .menu-container .menu-parent .menu-child .menu-grandparent .menu-grandchild li {
              padding: 5px 0px;
              list-style: none; }
              nav .menu-container .menu-parent .menu-child .menu-grandparent .menu-grandchild li a {
                text-decoration: none;
                padding: 0; }
          nav .menu-container .menu-parent .menu-child .menu-grandparent.menu-grandparent-open {
            background: #3EACA8;
            color: #ffffff; }
            nav .menu-container .menu-parent .menu-child .menu-grandparent.menu-grandparent-open .menu-grandchild {
              display: block; }
      nav .menu-container .menu-parent.menu-parent-open {
        background: #547A82;
        color: #ffffff; }
        nav .menu-container .menu-parent.menu-parent-open .menu-child {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }

/*
██████   █████   ██████  ███████ ████████  █████  ██████  ███████
██   ██ ██   ██ ██       ██         ██    ██   ██ ██   ██ ██
██████  ███████ ██   ███ █████      ██    ███████ ██████  ███████
██      ██   ██ ██    ██ ██         ██    ██   ██ ██   ██      ██
██      ██   ██  ██████  ███████    ██    ██   ██ ██████  ███████
*/
.tp-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.tp-pagetabs-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #A2D4AB; }
  .tp-pagetabs-container .tp-pagetabs-tab {
    padding: 10px;
    color: #ffffff;
    cursor: pointer; }
    .tp-pagetabs-container .tp-pagetabs-tab.tp-pagetabs-active {
      background: #ffffff;
      color: #A2D4AB;
      font-weight: bold; }

.tp-pagetabs-tabcontent {
  display: none; }
  .tp-pagetabs-tabcontent.tp-pagetabs-tabcontent-active {
    display: block; }

/*
██████  ██ ███    ██ ███████ ██████  ███████     ██      ██ ███████ ████████
██   ██ ██ ████   ██ ██      ██   ██ ██          ██      ██ ██         ██
██   ██ ██ ██ ██  ██ █████   ██████  ███████     ██      ██ ███████    ██
██   ██ ██ ██  ██ ██ ██      ██   ██      ██     ██      ██      ██    ██
██████  ██ ██   ████ ███████ ██   ██ ███████     ███████ ██ ███████    ██
*/
.tp-diners-container {
  border-left: 2px solid #A2D4AB;
  color: #5A5050;
  display: block;
  width: 25%;
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
  right: 0;
  top: 40px;
  z-index: 2000;
  position: fixed;
  background: #ffffff;
  padding: 0px 15px 0px 40px;
  -webkit-box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }
  .tp-diners-container .event-diners-title {
    font-size: 20px;
    padding: 6px 0px 6px 0px;
    display: inline-block;
    color: #A2D4AB;
    border-bottom: 2px solid #A2D4AB;
    margin-bottom: 20px;
    width: 100%;
    text-align: right; }
  .tp-diners-container .event-diners-close {
    width: 40px;
    border: none;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #2a363b;
    line-height: 42px;
    height: 42px;
    position: absolute;
    left: 0; }
  .tp-diners-container.diners-menu-open {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%); }
  .tp-diners-container.diners-menu-closed {
    -webkit-transform: translateX(-webkit-calc(100% - 42px));
        -ms-transform: translateX(calc(100% - 42px));
            transform: translateX(calc(100% - 42px)); }
  .tp-diners-container ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px; }
  .tp-diners-container ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2); }
  .tp-diners-container .tp-diners-list {
    list-style: none;
    max-height: -webkit-calc(100% - 120px);
    max-height: calc(100% - 120px);
    overflow: scroll;
    display: block;
    padding-right: 10px; }
    .tp-diners-container .tp-diners-list .tp-diners-list-child {
      padding: 0;
      list-style: none;
      clear: both;
      margin: 0px;
      position: relative; }
      .tp-diners-container .tp-diners-list .tp-diners-list-child::before {
        height: -webkit-calc(100% + 20px);
        height: calc(100% + 20px);
        position: absolute;
        left: 8px;
        top: -24px;
        width: 2px;
        background: #a2d4ab;
        display: block;
        content: ""; }
      .tp-diners-container .tp-diners-list .tp-diners-list-child .tp-diners-dinersChild {
        margin: 2px 0;
        position: relative; }
        .tp-diners-container .tp-diners-list .tp-diners-list-child .tp-diners-dinersChild p {
          padding-left: 20px;
          font-size: 12px;
          max-width: 80%;
          display: inline-block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
    .tp-diners-container .tp-diners-list .tp-diners-dinersParent {
      margin: 0px;
      padding: 2px 0px; }
      .tp-diners-container .tp-diners-list .tp-diners-dinersParent span {
        display: block;
        width: 40px;
        border: 1px solid #A2D4AB;
        height: 19px;
        vertical-align: middle;
        line-height: 18px;
        padding: 0;
        font-size: 10px;
        text-align: center;
        background: #A2D4AB;
        color: #ffffff;
        position: relative;
        float: right; }
      .tp-diners-container .tp-diners-list .tp-diners-dinersParent .canvas-diner-guests-container {
        clear: both;
        padding: 4px 0px;
        margin-bottom: 22px; }
        .tp-diners-container .tp-diners-list .tp-diners-dinersParent .canvas-diner-guests-container .canvas-diner-guests-title {
          background: none;
          color: #A2D4AB;
          border: none;
          display: block;
          width: 50%;
          text-align: left;
          padding: 0;
          height: auto;
          margin: 0;
          left: 10px;
          float: left;
          padding-left: 10px;
          font-size: 10px;
          border-bottom: 2px solid #A2D4AB;
          text-transform: uppercase; }
        .tp-diners-container .tp-diners-list .tp-diners-dinersParent .canvas-diner-guests-container .canvas-diner-guest-addall {
          float: right; }
      .tp-diners-container .tp-diners-list .tp-diners-dinersParent > span {
        width: 60px; }
      .tp-diners-container .tp-diners-list .tp-diners-dinersParent p {
        display: inline-block;
        margin: 0;
        padding: 0; }
      .tp-diners-container .tp-diners-list .tp-diners-dinersParent a {
        color: #5A5050;
        text-decoration: none;
        display: block; }
        .tp-diners-container .tp-diners-list .tp-diners-dinersParent a:hover {
          color: #608467; }
        .tp-diners-container .tp-diners-list .tp-diners-dinersParent a.dinerAdded:hover {
          color: #5A5050; }
        .tp-diners-container .tp-diners-list .tp-diners-dinersParent a:hover span {
          background: none;
          color: #A2D4AB; }
        .tp-diners-container .tp-diners-list .tp-diners-dinersParent a span:hover:nth-child(1) {
          background: none;
          color: #A2D4AB; }
        .tp-diners-container .tp-diners-list .tp-diners-dinersParent a span:hover:nth-child(2) {
          background: none;
          color: #A2D4AB; }
        .tp-diners-container .tp-diners-list .tp-diners-dinersParent a.dinerAdded:hover span {
          background: #A2D4AB;
          color: #ffffff; }
        .tp-diners-container .tp-diners-list .tp-diners-dinersParent a.dinerAdded {
          opacity: 0.3; }
      .tp-diners-container .tp-diners-list .tp-diners-dinersParent a.canvas-diner-guest-addall span {
        width: 50px; }
  .tp-diners-container .tp-diners-options {
    margin: 10px 0px;
    text-align: right; }
    .tp-diners-container .tp-diners-options a {
      background: #A2D4AB;
      color: #ffffff;
      padding: 0px 10px;
      display: inline-block;
      font-size: 12px;
      text-decoration: none;
      border: 1px solid #A2D4AB;
      line-height: 23px;
      height: 24px;
      vertical-align: top; }
      .tp-diners-container .tp-diners-options a:hover {
        border: 1px solid #A2D4AB;
        background: none;
        color: #A2D4AB; }

/*
██████  ██ ███    ██ ███████ ██████  ███████     ███████  ██████  ██████  ███    ███
██   ██ ██ ████   ██ ██      ██   ██ ██          ██      ██    ██ ██   ██ ████  ████
██   ██ ██ ██ ██  ██ █████   ██████  ███████     █████   ██    ██ ██████  ██ ████ ██
██   ██ ██ ██  ██ ██ ██      ██   ██      ██     ██      ██    ██ ██   ██ ██  ██  ██
██████  ██ ██   ████ ███████ ██   ██ ███████     ██       ██████  ██   ██ ██      ██
*/
.dinerform-window {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: none; }
  .dinerform-window .dinerform-window-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
    .dinerform-window .dinerform-window-inner .dinerform-window-container {
      width: 400px;
      background: #ffffff;
      padding: 20px;
      position: relative; }
  .dinerform-window .dinerform-window-close {
    width: 40px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    line-height: 40px; }
  .dinerform-window .dinerform-form h3 {
    display: inline-block;
    margin: 0 0 10px 0px; }
  .dinerform-window .dinerform-form textarea {
    border: 1px solid #A2D4AB; }
  .dinerform-window .dinerform-form .dinerform-form-addguest {
    display: inline-block;
    width: 40px;
    border: 1px solid #A2D4AB;
    height: 19px;
    vertical-align: middle;
    line-height: 18px;
    padding: 0;
    font-size: 10px;
    text-align: center;
    background: #A2D4AB;
    color: #ffffff;
    position: relative;
    float: right;
    top: 8px;
    text-decoration: none; }
  .dinerform-window .dinerform-form .dinerform-form-guests {
    max-height: 300px;
    overflow-y: scroll; }
  .dinerform-window .dinerform-form input[type="submit"] {
    background: #A2D4AB;
    border: 1px solid #A2D4AB;
    color: #ffffff; }
    .dinerform-window .dinerform-form input[type="submit"]:hover {
      background: none;
      color: #A2D4AB; }

/*
 ██████  ██████  ███    ██ ████████ ███████ ██   ██ ████████ ███    ███ ███████ ███    ██ ██    ██
██      ██    ██ ████   ██    ██    ██       ██ ██     ██    ████  ████ ██      ████   ██ ██    ██
██      ██    ██ ██ ██  ██    ██    █████     ███      ██    ██ ████ ██ █████   ██ ██  ██ ██    ██
██      ██    ██ ██  ██ ██    ██    ██       ██ ██     ██    ██  ██  ██ ██      ██  ██ ██ ██    ██
 ██████  ██████  ██   ████    ██    ███████ ██   ██    ██    ██      ██ ███████ ██   ████  ██████
*/
#rightclick-font-context {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: none; }
  #rightclick-font-context .rightclick-font-context-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
    #rightclick-font-context .rightclick-font-context-container .rightclick-font-context-inner {
      background: #ffffff;
      position: relative; }
  #rightclick-font-context h2 {
    font-size: 24px;
    color: #547A82;
    min-width: 250px; }
  #rightclick-font-context .menu-child-subtitle {
    display: inline-block;
    position: relative;
    vertical-align: top;
    line-height: 20px; }
  #rightclick-font-context .slider, #rightclick-font-context select {
    display: inline-block;
    float: right;
    width: 50%;
    background: #eaf1f3; }
  #rightclick-font-context .single-font-input {
    display: inline-block;
    float: right;
    width: 50%;
    background: none;
    height: 20px;
    line-height: 20px;
    text-align: right;
    padding-right: 5px; }
    #rightclick-font-context .single-font-input input {
      width: 100%;
      margin: 0;
      padding: 0;
      top: 0;
      height: 20px;
      border: 1px solid #eaf1f3;
      vertical-align: top;
      float: left;
      text-align: center; }
  #rightclick-font-context .update-single-font {
    background: #97bac1;
    vertical-align: top;
    border: 1px solid #97bac1;
    padding: 5px;
    width: 48%;
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    position: relative;
    font-size: 12px;
    float: left;
    margin-bottom: 20px; }
    #rightclick-font-context .update-single-font:hover {
      color: #97bac1;
      background: none; }
  #rightclick-font-context .sliderObj {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    height: 20px;
    text-align: center;
    float: right;
    -webkit-appearance: none; }
  #rightclick-font-context .slider-value, #rightclick-font-context .color-reset {
    display: inline-block;
    width: 30px;
    text-align: right;
    vertical-align: top; }
  #rightclick-font-context .color-reset {
    text-align: center;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    float: right;
    height: 20px;
    line-height: 20px;
    width: 20px;
    color: #b7b7b7; }
    #rightclick-font-context .color-reset:hover {
      color: #97bac1;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  #rightclick-font-context input[type="color"] {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    height: 20px;
    text-align: center;
    float: right;
    -webkit-appearance: none;
    border: 1px solid #cccccc; }
  #rightclick-font-context input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0; }
  #rightclick-font-context input[type="color"]::-webkit-color-swatch {
    border: none; }
  #rightclick-font-context .font-item {
    height: 20px;
    margin-bottom: 10px;
    position: relative;
    font-size: 12px; }
  #rightclick-font-context .ui-slider {
    position: relative;
    border: none;
    -webkit-border-radius: inherit;
            border-radius: inherit;
    height: 20px; }
    #rightclick-font-context .ui-slider .ui-slider-handle {
      display: none; }
    #rightclick-font-context .ui-slider .ui-slider-range-min {
      left: 0;
      background: #97bac1;
      -webkit-border-radius: 0;
              border-radius: 0; }
  #rightclick-font-context select {
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding-left: 10px;
    height: 20px; }
  #rightclick-font-context .rightclick-font-context-close {
    width: 40px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    line-height: 40px;
    z-index: 20;
    cursor: pointer; }
  #rightclick-font-context .reset-single-styling {
    background: #d64b4b;
    border: 1px solid #d64b4b;
    padding: 5px;
    width: 48%;
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    position: relative;
    font-size: 12px;
    float: right;
    margin-bottom: 20px; }
    #rightclick-font-context .reset-single-styling:hover {
      -webkit-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      background: none;
      color: #d64b4b;
      border: 1px solid #d64b4b; }
  #rightclick-font-context .delete-table {
    background: #d64b4b;
    border: 1px solid #d64b4b;
    padding: 5px;
    width: 30%;
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    position: relative;
    font-size: 12px;
    left: 5%;
    float: none;
    margin-bottom: 20px; }
    #rightclick-font-context .delete-table:hover {
      -webkit-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      background: none;
      color: #d64b4b;
      border: 1px solid #d64b4b; }
  #rightclick-font-context .reset-table {
    background: #d64b4b;
    border: 1px solid #d64b4b;
    padding: 5px;
    width: 30%;
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    position: relative;
    font-size: 12px;
    float: right;
    margin-bottom: 20px; }
    #rightclick-font-context .reset-table:hover {
      -webkit-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      background: none;
      color: #d64b4b;
      border: 1px solid #d64b4b; }
  #rightclick-font-context .update-table {
    background: #97bac1;
    border: 1px solid #97bac1;
    padding: 5px;
    width: 30%;
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    position: relative;
    font-size: 12px;
    float: left;
    margin-bottom: 20px; }
    #rightclick-font-context .update-table:hover {
      -webkit-transition: all 100ms ease-in-out;
      transition: all 100ms ease-in-out;
      background: none;
      color: #97bac1; }
  #rightclick-font-context .single-object-input {
    display: inline-block;
    float: right;
    width: 50%;
    background: none;
    height: 20px;
    line-height: 20px;
    text-align: right;
    padding-right: 5px; }

/*
███    ██  ██████  ████████ ██ ███████ ██  ██████  █████  ████████ ██  ██████  ███    ██ ███████
████   ██ ██    ██    ██    ██ ██      ██ ██      ██   ██    ██    ██ ██    ██ ████   ██ ██
██ ██  ██ ██    ██    ██    ██ █████   ██ ██      ███████    ██    ██ ██    ██ ██ ██  ██ ███████
██  ██ ██ ██    ██    ██    ██ ██      ██ ██      ██   ██    ██    ██ ██    ██ ██  ██ ██      ██
██   ████  ██████     ██    ██ ██      ██  ██████ ██   ██    ██    ██  ██████  ██   ████ ███████
*/
.notification-window {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: none; }
  .notification-window .notification-window-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
    .notification-window .notification-window-inner .notification-window-container {
      width: 400px;
      background: #ffffff;
      padding: 20px;
      position: relative; }
      .notification-window .notification-window-inner .notification-window-container .notification-window-close {
        width: 40px;
        height: 40px;
        font-size: 20px;
        position: absolute;
        top: 0;
        text-align: center;
        right: 0;
        line-height: 40px; }

.imageuploader-window {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: none; }
  .imageuploader-window .imageuploader-window-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
    .imageuploader-window .imageuploader-window-inner .imageuploader-window-container {
      width: 400px;
      background: #ffffff;
      padding: 20px;
      position: relative; }
      .imageuploader-window .imageuploader-window-inner .imageuploader-window-container .imageuploader-window-close {
        width: 40px;
        height: 40px;
        font-size: 20px;
        position: absolute;
        top: 0;
        text-align: center;
        right: 0;
        line-height: 40px; }
      .imageuploader-window .imageuploader-window-inner .imageuploader-window-container .import-image-filepath {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1; }
        .imageuploader-window .imageuploader-window-inner .imageuploader-window-container .import-image-filepath + label {
          font-size: 1.25em;
          font-weight: 700;
          color: white;
          background-color: black;
          display: inline-block; }
        .imageuploader-window .imageuploader-window-inner .imageuploader-window-container .import-image-filepath:focus + label,
        .imageuploader-window .imageuploader-window-inner .imageuploader-window-container .import-image-filepath + label:hover {
          background-color: red; }
        .imageuploader-window .imageuploader-window-inner .imageuploader-window-container .import-image-filepath + label {
          cursor: pointer;
          /* "hand" cursor */ }
      .imageuploader-window .imageuploader-window-inner .imageuploader-window-container .import-image-file {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        display: block;
        margin-bottom: 10px;
        background: #ffffff;
        background: #A2D4AB;
        border: 1px solid #A2D4AB;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        line-height: 40px; }
        .imageuploader-window .imageuploader-window-inner .imageuploader-window-container .import-image-file:hover {
          background: none;
          color: #A2D4AB; }
      .imageuploader-window .imageuploader-window-inner .imageuploader-window-container input[type=file] {
        display: block;
        margin-bottom: 20px;
        line-height: 40px;
        padding: 0;
        text-align: center; }
