/* KLOC ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE: NAME OF SITE //////////////////////////////////////////////////////////////////////////////////////////////////////
// DEV: JAMES DOUGLAS //////////////////////////////////////////////////////////////////////////////////////////////////////
// BUILD: 2017 /////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* TABLET and up */
@media (min-width: 769px){
  .container{
    padding:80px 15px;
  }
  .navigation_hidden_outer {
      position: fixed;
      top: 40px;
      left: 0;
      background: #373639;
      width: 100%;
      text-align: left;
      font-size: 16px;
      transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      display: none;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      z-index: 5;
      opacity: 0;
  }
  .hard-width-restriction {max-width: 800px;}
}
@media only screen and (min-width : 960px){}
@media only screen and (min-width : 1150px){}
@media only screen and (min-width: 1280px){}
