
/*
 ██████  ██████  ███    ██ ████████ ███████ ██   ██ ████████ ███    ███ ███████ ███    ██ ██    ██
██      ██    ██ ████   ██    ██    ██       ██ ██     ██    ████  ████ ██      ████   ██ ██    ██
██      ██    ██ ██ ██  ██    ██    █████     ███      ██    ██ ████ ██ █████   ██ ██  ██ ██    ██
██      ██    ██ ██  ██ ██    ██    ██       ██ ██     ██    ██  ██  ██ ██      ██  ██ ██ ██    ██
 ██████  ██████  ██   ████    ██    ███████ ██   ██    ██    ██      ██ ███████ ██   ████  ██████
*/

#rightclick-font-context{
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	display:none;
	.rightclick-font-context-container{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		.rightclick-font-context-inner{
			background: #ffffff;
			position: relative;
		}
	}
	h2 {
	    font-size: 24px;
	    color: $blue;
	    min-width: 250px;
	}
	.menu-child-subtitle{
		display: inline-block;
	    position: relative;
	    vertical-align: top;
	    line-height: 20px;
	}
	.slider, select{
		display: inline-block;
		float: right;
		width: 50%;
		background: #eaf1f3;
	}

	.single-font-input {
		display: inline-block;
	    float: right;
	    width: 50%;
	    background: none;
	    height: 20px;
	    line-height: 20px;
		text-align: right;
		padding-right: 5px;
		input{
			width: 100%;
			margin: 0;
			padding: 0;
			top: 0;
			height: 20px;
			border: 1px solid #eaf1f3;
			vertical-align: top;
			float: left;
			text-align:center;
		}
	}
	.update-single-font{
		background: $altblue;
	    vertical-align: top;
	    border: 1px solid $altblue;
	    padding: 5px;
	    width: 48%;
	    display: inline-block;
	    color: #fff;
	    text-align: center;
	    text-decoration: none;
	    margin-top: 0px;
	    position: relative;
	    font-size: 12px;
	    float: left;
	    margin-bottom: 20px;
		&:hover{
			color: $altblue;
			background: none;
		}
	}

	.sliderObj{
		width: 50%;
		display: inline-block;
		margin: 0;
		padding: 0;
		border: 0;
		position: relative;
		height: 20px;
		text-align: center;
		float: right;
		-webkit-appearance: none;
	}

	.slider-value,.color-reset{
		display: inline-block;
		width: 30px;
		text-align: right;
	    vertical-align: top;
	}
	.color-reset{
		text-align: center;
		transition: $trans-all-slow;
		vertical-align: top;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		float: right;
		height: 20px;
		line-height: 20px;
		width: 20px;
		color: #b7b7b7;
		&:hover{
			color: $altblue;
			transform: rotate(180deg);
		}
	}

	input[type="color"] {
		width: 50%;
		display: inline-block;
		margin: 0;
		padding: 0;
		border: 0;
		position: relative;
		height: 20px;
		text-align: center;
		float:right;
		-webkit-appearance: none;
		border: 1px solid #cccccc;
	}
	input[type="color"]::-webkit-color-swatch-wrapper {
		padding: 0;
	}
	input[type="color"]::-webkit-color-swatch {
		border: none;
	}

	.font-item {
	    height: 20px;
	    margin-bottom: 10px;
	    position: relative;
		font-size: 12px;
	}
	.ui-slider {
		position: relative;
		border: none;
		border-radius: inherit;
		height: 20px;

		.ui-slider-handle {
			display:none;
		}
		.ui-slider-range-min {
			left: 0;
			background: $altblue;
			border-radius: 0;
		}
	}
	select{
		border: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    padding-left: 10px;
	    height: 20px;
	}

	.rightclick-font-context-close {
		width: 40px;
	    height: 40px;
	    font-size: 20px;
	    position: absolute;
	    top: 0;
	    text-align: center;
	    right: 0;
	    line-height: 40px;
		z-index: 20;
		cursor: pointer;
		&:hover{

		}
	}

	.reset-single-styling {
		background: $warning;
		border: 1px solid $warning;
	    padding: 5px;
	    width: 48%;
	    display: inline-block;
	    color: #fff;
	    text-align: center;
	    text-decoration: none;
	    margin-top: 0px;
	    position: relative;
	    font-size: 12px;
	    float: right;
		margin-bottom: 20px;
		&:hover{
			transition: $trans-all;
			background: none;
			color: $warning;
			border: 1px solid $warning;
		}
	}

	.delete-table{
		background: $warning;
		border: 1px solid $warning;
	    padding: 5px;
	    width: 30%;
	    display: inline-block;
	    color: #fff;
	    text-align: center;
	    text-decoration: none;
	    margin-top: 0px;
		position: relative;
	    font-size: 12px;
	    left: 5%;
	    float: none;
	    margin-bottom: 20px;
		&:hover{
			transition: $trans-all;
			background: none;
			color: $warning;
			border: 1px solid $warning;
		}
	}
	.reset-table{
		background: $warning;
		border: 1px solid $warning;
	    padding: 5px;
	    width: 30%;
	    display: inline-block;
	    color: #fff;
	    text-align: center;
	    text-decoration: none;
	    margin-top: 0px;
	    position: relative;
	    font-size: 12px;
	    float: right;
	    margin-bottom: 20px;
		&:hover{
			transition: $trans-all;
			background: none;
			color: $warning;
			border: 1px solid $warning;
		}
	}
	.update-table{
		background: #97bac1;
	    border: 1px solid #97bac1;
	    padding: 5px;
	    width: 30%;
	    display: inline-block;
	    color: #fff;
	    text-align: center;
	    text-decoration: none;
	    margin-top: 0px;
	    position: relative;
	    font-size: 12px;
	    float: left;
	    margin-bottom: 20px;
		&:hover{
			transition: $trans-all;
			background: none;
			color: $altblue;
		}
	}

	.single-object-input {
	    display: inline-block;
	    float: right;
	    width: 50%;
	    background: none;
	    height: 20px;
	    line-height: 20px;
	    text-align: right;
	    padding-right: 5px;
	}
}
