/* KLOC ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE: TablePlanner 9K ///////////////////////////////////////////////////////////////////////////////////////////////////
// DEV: JAMES DOUGLAS //////////////////////////////////////////////////////////////////////////////////////////////////////
// BUILD: 2017 /////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*
██████  ███████ ███████  █████  ██    ██ ██   ████████
██   ██ ██      ██      ██   ██ ██    ██ ██      ██
██   ██ █████   █████   ███████ ██    ██ ██      ██
██   ██ ██      ██      ██   ██ ██    ██ ██      ██
██████  ███████ ██      ██   ██  ██████  ███████ ██
*/

$black: #5A5050;
$blackOpacity: rgba(90, 80, 80, 0.50);
$blue: #547A82;
$altblue: #97bac1;
$turquoise: #3EACA8;
$darkturqouise: #245a59;
$green: #A2D4AB;
$darkgreen: #608467;
$warning: #d64b4b;

$trans-all: all 100ms ease-in-out;
$trans-all-slow: all 400ms ease-in-out;


html,body {

}
body{
	background: #ffffff;
	font-size: 14px;
	font-family: 'HelveticaNeue', sans-serif;
}
/* ///////// */
h1 {
  font-size: 4em;
  font-weight: bold;
  margin:10px 0px;
}
h2{
  font-size: 2.5em;
  font-weight: bold;
  margin:20px 0px;
  font-family: HelveticaNeue-Light;
}
h3 {
  font-size: 1.5em;
  font-weight: 100;
  margin: 20px 0px;
  line-height: 30px;
  font-family: HelveticaNeue-Light;
}
h4{
  font-size:1.5em;
  font-weight: normal;
  margin:20px 0px;
}
h5{
  font-size:1em;
  font-weight: bold;
  margin:20px 0px;
}
/* ///////// */
a {
	color: $green;
	transition: all 100ms ease-in-out;
	text-decoration: underline;
}
a:focus, a:hover {color: #bff2ff;}
p {font-size: 1em;line-height:1.5em;}
strong{font-weight:bold;}
ul {margin: 0;padding: 10px 0px;}
li {margin: 0 0 0 20px;padding: 0;}
form {padding: 0px;}
input {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: 40px;width: 100%;margin-bottom: 10px;background: #ffffff;border: 0;padding-left: 10px;border: 1px solid #cccccc;}
textarea {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;height: 90px;width: 100%;margin-bottom: 10px;background: #ffffff;border: 0;padding: 10px;}
blockquote {border-left: 5px solid #ff6c40;}

.row{
	margin: 0;
	width: 100%;
}
.not-supported {
	opacity: 0.2 !important;
	text-decoration: line-through !important;
	*{
		text-decoration: line-through !important;
	}
}
