
/*
██████  ██ ███    ██ ███████ ██████  ███████     ██      ██ ███████ ████████
██   ██ ██ ████   ██ ██      ██   ██ ██          ██      ██ ██         ██
██   ██ ██ ██ ██  ██ █████   ██████  ███████     ██      ██ ███████    ██
██   ██ ██ ██  ██ ██ ██      ██   ██      ██     ██      ██      ██    ██
██████  ██ ██   ████ ███████ ██   ██ ███████     ███████ ██ ███████    ██
*/
.tp-diners-container{
	border-left: 2px solid $green;
    color: #5A5050;
    display: block;
    width: 25%;
    height: calc(100% - 40px);
	right: 0;
    top: 40px;
    z-index: 2000;
    position: fixed;
    background: #ffffff;
    padding: 0px 15px 0px 40px;
    box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.1);
	transition:  $trans-all;
	transform: translateX(100%);
	.event-diners-title{
		font-size: 20px;
	    padding: 6px 0px 6px 0px;
	    display: inline-block;
	    color: $green;
	    border-bottom: 2px solid #A2D4AB;
	    margin-bottom: 20px;
	    width: 100%;
	    text-align: right;
	}
	.event-diners-close {
		width: 40px;
	    border: none;
	    display: block;
	    text-align: center;
	    font-size: 20px;
	    color: #2a363b;
	    line-height: 42px;
	    height: 42px;
	    position: absolute;
	    left: 0;
	}
	&.diners-menu-open{
		transform: translateX(0%);
	}
	&.diners-menu-closed{
		transform: translateX(calc(100% - 42px));
	}
	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0,0,0,.2);
		//-webkit-box-shadow: 0 0 1px rgba(255,255,255,.2);
	}
	.tp-diners-list{
		list-style: none;
		max-height: calc(100% - 120px);
		overflow: scroll;
		display: block;
		padding-right: 10px;
		.tp-diners-list-child {
		    padding: 0;
		    list-style: none;
		    clear: both;
		    margin: 0px;
		    position: relative;
			&::before {
			    height: calc(100% + 20px);
			    position: absolute;
			    left: 8px;
			    top: -24px;
			    width: 2px;
			    background: #a2d4ab;
			    display: block;
			    content: "";
			}
			.tp-diners-dinersChild{
				margin: 2px 0;
				position: relative;
				p{
					padding-left: 20px;
				    font-size: 12px;
				    max-width: 80%;
				    display: inline-block;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    overflow: hidden;
				}
			}
		}
		.tp-diners-dinersParent{
			span{
				display: block;
			    width: 40px;
			    border: 1px solid $green;
			    height: 19px;
			    vertical-align: middle;
			    line-height: 18px;
			    padding: 0;
			    font-size: 10px;
			    text-align: center;
			    background: $green;
			    color: #ffffff;
			    position: relative;
			    float: right;
			}
			.canvas-diner-guests-container{
				clear: both;
			    padding: 4px 0px;
			    margin-bottom: 22px;
				.canvas-diner-guests-title{
					background: none;
				    color: $green;
				    border: none;
				    display: block;
				    width: 50%;
				    text-align: left;
				    padding: 0;
				    height: auto;
				    margin: 0;
				    left: 10px;
				    float: left;
				    padding-left: 10px;
				    font-size: 10px;
				    border-bottom: 2px solid $green;
				    text-transform: uppercase;
				}
				.canvas-diner-guest-addall{
					float:right;
				}
			}

			&>span{
				width: 60px;
			}
			p{
				display: inline-block;
			    margin: 0;
			    padding: 0;
			}

			margin: 0px;
			padding: 2px 0px;
			a{
				color: #5A5050;
			    text-decoration: none;
			    display: block;
				&:hover{
					color: $darkgreen;
				}
				&.dinerAdded:hover{
					color: $black;
				}
				&:hover span{
					background: none;
					color: $green;
				}
				& span:hover:nth-child(1){
					background: none;
					color: $green;
				}
				& span:hover:nth-child(2){
					background: none;
					color: $green;
				}
				&.dinerAdded:hover span{
					background: $green;
					color: #ffffff;
				}
				&.dinerAdded{
					opacity:0.3;
				}
			}
			a.canvas-diner-guest-addall{
				span{
					width: 50px;
				}
			}
		}
	}

	.tp-diners-options{
		margin: 10px 0px;
		text-align: right;
		a{
			background: $green;
		    color: #ffffff;;
		    padding: 0px 10px;
		    display: inline-block;
		    font-size: 12px;
		    text-decoration: none;
		    border: 1px solid $green;
		    line-height: 23px;
		    height: 24px;
		    vertical-align: top;
			&:hover{
				border: 1px solid $green;
				background: none;
				color: $green;
			}
		}
	}
}

/*
██████  ██ ███    ██ ███████ ██████  ███████     ███████  ██████  ██████  ███    ███
██   ██ ██ ████   ██ ██      ██   ██ ██          ██      ██    ██ ██   ██ ████  ████
██   ██ ██ ██ ██  ██ █████   ██████  ███████     █████   ██    ██ ██████  ██ ████ ██
██   ██ ██ ██  ██ ██ ██      ██   ██      ██     ██      ██    ██ ██   ██ ██  ██  ██
██████  ██ ██   ████ ███████ ██   ██ ███████     ██       ██████  ██   ██ ██      ██
*/
.dinerform-window {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
	display:none;
	.dinerform-window-inner {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		.dinerform-window-container{
			width: 400px;
			background: #ffffff;
			padding: 20px;
			position: relative;
		}
	}
	.dinerform-window-close {
	    width: 40px;
	    height: 40px;
	    font-size: 20px;
	    position: absolute;
	    top: 0;
	    text-align: center;
	    right: 0;
	    line-height: 40px;
	}
	.dinerform-form{
		h3{
			display: inline-block;
		    margin: 0 0 10px 0px;
		}
		textarea{
			border: 1px solid $green;
		}
		.dinerform-form-addguest{
			display: inline-block;
		    width: 40px;
		    border: 1px solid #A2D4AB;
		    height: 19px;
		    vertical-align: middle;
		    line-height: 18px;
		    padding: 0;
		    font-size: 10px;
		    text-align: center;
		    background: #A2D4AB;
		    color: #ffffff;
		    position: relative;
		    float: right;
		    top: 8px;
		    text-decoration: none;
		}
		.dinerform-form-guests {
		    max-height: 300px;
		    overflow-y: scroll;
		}
		& input[type="submit"]{
			background: $green;
			border: 1px solid $green;
			color: #ffffff;
			&:hover{
				background: none;
				color: $green;
			}
		}
	}

}
