/* KLOC ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE: TablePlanner 9K ///////////////////////////////////////////////////////////////////////////////////////////////////
// DEV: JAMES DOUGLAS //////////////////////////////////////////////////////////////////////////////////////////////////////
// BUILD: 2017 /////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*
███    ██  █████  ██    ██
████   ██ ██   ██ ██    ██
██ ██  ██ ███████ ██    ██
██  ██ ██ ██   ██  ██  ██
██   ████ ██   ██   ████
*/

nav {
    background: #2A363B;
    color: #ffffff;
    width: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
    position: relative;
	.menu-container{
		display:flex;
		align-items: flex-start;
		justify-content: flex-start;
		list-style: none;
		margin: 0;
		padding: 0px;
		position: relative;

		z-index: 100;
		i{
			width: 15px;
			text-align: center;
		}
		li{
			margin:0;
			&:hover{
				color: $green;
			}
		}
		.menu-parent{
			cursor: pointer;
			a{
				text-decoration: none;
				color: #fff;
				padding: 10px 17px;
				display: block;
			}
			.menu-modal{
				display:none;
			}
			.menu-child{
				display:none;
				background: $blue;
				position: absolute;
				color: #ffffff;
				top: 40px;
				width: 100%;
				left: 0;
				margin: 0;
				padding: 0px;
				box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
				.global-opacity {
				    width: 60%;
				    color: #547A82;
				    display: inline-block;
				    float: right;
				}
				.font-item {
				    vertical-align: top;
				    margin-bottom: 5px;
					height: 20px;
					.global-font-input {
						display: inline-block;
					    float: right;
					    width: 60%;
					    background: none;
					    height: 20px;
					    line-height: 20px;
					    margin: 0;
					    color: #ffffff;
					    text-align: right;
					    border: 1px solid #ffffff;
						padding-right: 5px;
						input{
							width: 100%;
							margin: 0;
							padding: 0;
							top: 0;
							height: 20px;
							border: 1px solid #eaf1f3;
							vertical-align: top;
							float: left;
							text-align:center;
						}
					}
				}

				.update-global-font{
					width: 150px;
					border: 1px solid $altblue;
					background: $altblue;
					text-align: center;
					margin-top: 20px;
					padding: 5px;
				}

				&.menu-manualclose{
					padding-bottom: 40px;
				}

				.ui-slider {
					width: 55%;
					display: inline-block;
					position: relative;
					border: none;
					border-radius: inherit;
					height: 20px;

					.ui-slider-handle {
						display:none;
					}
					.ui-slider-range-min {
					    left: 0;
					    background: $altblue;
						border-radius: 0;
					}
				}

				input[type="color"] {
				    width: 60%;
					display: inline-block;
				    margin: 0;
				    padding: 0;
				    border: 0;
					height: 20px;
					-webkit-appearance: none;
				}
				input[type="color"]::-webkit-color-swatch-wrapper {
					padding: 0;
				}
				input[type="color"]::-webkit-color-swatch {
					border: none;
				}
				.color-reset {
				    display: inline-block;
				    width: 40px;
				    text-align: center;
					transition: $trans-all-slow;
					vertical-align: top;
					&:hover{
						color: $altblue;
						transform: rotate(180deg);
					}
				}
				select{
					border:none;
					border-radius: 0;
					// -webkit-appearance: none;
					padding-left:10px;
				}
				.canvas-font-family {
					width: 60%;
					color: $blue;
					display: inline-block;
				    float: right;
				}
				.canvas-font-style{
					@extend .canvas-font-family;
				}
				.canvas-font-weight{
					@extend .canvas-font-family;
				}
				.slider-value {
				    width: 17%;
				    display: inline-block;
				    text-align: right;
					color: $altblue;
				    vertical-align: top;
				}
				span{
					font-size: 20px;
					margin-top: 20px;
					position: relative;
					display: block;
					color: $altblue;
					margin-bottom: 10px;
					&.menu-child-subtitle {
						display: inline-block;
						font-size: 14px;
						width: 25%;
						line-height: 20px;
						vertical-align: top;
						margin: 0;
						padding: 0;
						color: #ffffff;
						&.menu-child-colour{

						}
					}
				}
				.menu-grandparent{
					margin:0;
					&:hover{
						background: $blue;
						color: $green;
					}
					a{
						color: #ffffff;
						text-decoration: none;
					}
					list-style: none;
					color: #ffffff;
					.menu-grandchild{
						display:none;
						background: $turquoise;
						position: absolute;
						color: #ffffff;
						top: 40px;
						width: 100%;
						left: 0;
						margin: 0;
						padding: 0px 0px 20px 0px;
						box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
						.flex-grid{
							position: relative;
							li{
								width: 16.6%;
							    display: inline-block;
							    padding-bottom: 10px;
							}
						}
						span {
						    font-size: 20px;
						    margin-top: 20px;
						    position: relative;
						    display: block;
							color: $darkturqouise;
						}
						a{
							color: #ffffff;
							&:hover{
								color: $darkturqouise;
								text-decoration: underline;
							}
						}
						li{
							padding: 5px 0px;
    						list-style: none;
							a{
								text-decoration: none;
								padding: 0;
							}
						}
					}
					&.menu-grandparent-open{
						background: $turquoise;
						color: #ffffff;
						.menu-grandchild{
							display: block;
						}
					}
				}

			}
			&.menu-parent-open{
				background: $blue;
				color: #ffffff;
				.menu-child{
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
				}
			}

		}
	}

}
