

/*
███    ██  ██████  ████████ ██ ███████ ██  ██████  █████  ████████ ██  ██████  ███    ██ ███████
████   ██ ██    ██    ██    ██ ██      ██ ██      ██   ██    ██    ██ ██    ██ ████   ██ ██
██ ██  ██ ██    ██    ██    ██ █████   ██ ██      ███████    ██    ██ ██    ██ ██ ██  ██ ███████
██  ██ ██ ██    ██    ██    ██ ██      ██ ██      ██   ██    ██    ██ ██    ██ ██  ██ ██      ██
██   ████  ██████     ██    ██ ██      ██  ██████ ██   ██    ██    ██  ██████  ██   ████ ███████
*/


.notification-window {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
	display:none;
	.notification-window-inner {
		display: flex;
		align-items: center;
		justify-content: center;
    	height: 100%;
		.notification-window-container {
		    width: 400px;
		    background: #ffffff;
		    padding: 20px;
		    position: relative;
			.notification-window-close{
				width: 40px;
				height: 40px;
				font-size: 20px;
				position: absolute;
				top: 0;
				text-align: center;
				right: 0;
				line-height: 40px;
			}
		}

	}
}

.imageuploader-window {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
	display:none;
	.imageuploader-window-inner {
		display: flex;
		align-items: center;
		justify-content: center;
    	height: 100%;
		.imageuploader-window-container {
		    width: 400px;
		    background: #ffffff;
		    padding: 20px;
		    position: relative;
			.imageuploader-window-close{
				width: 40px;
				height: 40px;
				font-size: 20px;
				position: absolute;
				top: 0;
				text-align: center;
				right: 0;
				line-height: 40px;
			}
			.import-image-filepath{
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
				& + label {
				    font-size: 1.25em;
				    font-weight: 700;
				    color: white;
				    background-color: black;
				    display: inline-block;
				}

				&:focus + label,
				& + label:hover {
				    background-color: red;
				}
				& + label {
					cursor: pointer; /* "hand" cursor */
				}
			}
			.import-image-file{
				-webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    height: 40px;
			    width: 100%;
				display: block;
			    margin-bottom: 10px;
			    background: #ffffff;
			    background: $green;
			    border: 1px solid $green;
			    color: #ffffff;
			    text-decoration: none;
				text-align: center;
				line-height: 40px;
				&:hover{
					background: none;
					color: $green;
				}

			}
			input[type=file] {
			    display: block;
			    margin-bottom: 20px;
			    line-height: 40px;
			    padding: 0;
			    text-align: center;
			}
		}

	}
}
