
/*
██████   █████   ██████  ███████ ████████  █████  ██████  ███████
██   ██ ██   ██ ██       ██         ██    ██   ██ ██   ██ ██
██████  ███████ ██   ███ █████      ██    ███████ ██████  ███████
██      ██   ██ ██    ██ ██         ██    ██   ██ ██   ██      ██
██      ██   ██  ██████  ███████    ██    ██   ██ ██████  ███████
*/

.tp-columns{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.tp-pagetabs-container{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	background: $green;

	.tp-pagetabs-tab {
    	padding: 10px;
		color: #ffffff;
		cursor: pointer;
		&.tp-pagetabs-active{
			background: #ffffff;
			color: $green;
			font-weight: bold;
		}
	}
}

.tp-pagetabs-tabcontent{
	display:none;
	&.tp-pagetabs-tabcontent-active{
		display: block;
	}
}

#canvas{

}
